ul {
    list-style: none;
}
a {
    text-decoration: none;
    color:cornflowerblue;
}
tg {
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
    margin-right:auto;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 20px 20px;
    word-break: normal;
    border-spacing: inherit
}

#photo {
    width: 35%;
}
.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 20px 20px;
    word-break: normal;
    border-spacing: inherit
}

.tg .tg-4hmw {
    background-color: #ffffc7;
    border-color: inherit;
    font-size: 22px;
    text-align: left;
    vertical-align: bottom
}

.tg .tg-0aox {
    background-color: #fdc92b;
    border-color: inherit;
    font-size: 32px;
    text-align: center;
    vertical-align: center;
}

.tg .tg-ymkj {
    background-color: #333333;
    border-color: inherit;
    text-align: center;
    vertical-align: middle
}

.tg .tg-mfxt {
    background-color: lightsteelblue;
    border-color: inherit;
    text-align: left;
    vertical-align: middle
}

.tg .tg-tvwp {
    background-color: #dae8fc;
    border-color: inherit;
    color: #656565;
    font-size: 22px;
    text-align: right;
    vertical-align: bottom
}

.tg .tg-wfs9 {
    background-color: #dae8fc;
    border-color: inherit;
    text-align: right;
    vertical-align: top
}

.tg .tg-ncd7 {
    background-color: #ffffc7;
    border-color: inherit;
    text-align: left;
    vertical-align: top
}

.tg .tg-nft0 {
    background-color: lightsalmon;
    border-color: inherit;
    font-size: 22px;
    text-align: center;
    vertical-align: bottom
}

.tg .tg-3xi5 {
    background-color: whitesmoke;
    border-color: inherit;
    text-align: center;
    vertical-align: top
}

.img-photo {
    width: 10em;
    height: 10em;
    border-radius: 50%;
}

.text-description {
    font-family: monospace;
    font-size:1.4em;
    text-align: justify;
    padding: 1.3em;
}

.dot {
    height: 1em;
    width: 1em;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid black
  }

.dotfull {
    height: 1em;
    width: 1em;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid black
  }

.text-contact {
font-family:sans-serif;
font-weight: 500;
font-size: 1.5em;

}

.img-contact{
    margin-bottom: -0.5em;
    margin-top: 0.5em;
}

.img-contact-b{
    margin-bottom: 1em;
}

.text-li{
    color: black;
    font-size:1.3em;
    font-weight:800;
    font-style: italic;
}

.text-jobexp{
    font-size:2em;
    font-weight:bold;
}

.skill{
    margin-right: 99%;
    font-size:1.3em;
    font-weight: bold;
}